html, body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #fff;

    @media (max-width: 3840px) {
        font-size: 32px;
    }

    @media (max-width: 2560px) {
        font-size: 24px;
    }

    @media (max-width: 1920px) {
        font-size: 16px;
    }

}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    max-width: 89.5rem;
    width: 100%;
}


