@use "bootstrap";

.section2 {
    background: #FAFAFA;

    .outer-wrapper {
        display: flex;
        justify-content: center;
        padding: 1.281rem 0;

        .content-wrapper {
            max-width: 44.938rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;

            @include bootstrap.media-breakpoint-down(md) {
                flex-direction: column;
            }

            .label {
                flex: 1 0 auto;
                font-size: 1.063rem;
                color: #B6B7BB;
            }

            .logos {
                height: 3.594rem;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 3.688rem;

                @include bootstrap.media-breakpoint-down(md) {
                    margin-left: 0;
                    margin-top: 1rem;
                    align-items: center;
                    margin-top: 1rem;
                    margin-left: 0;
                }

                @include bootstrap.media-breakpoint-only(xs) {
                    height: 1.797rem;
                }

                img {
                    height: 100%;
                    width: auto;

                    @include bootstrap.media-breakpoint-down(md) {
                        margin-left: 1rem;

                        &:first-child {
                            margin-left: 0;
                        }

                    }
                }

            }

        }

    }

}
