@use 'fonts';

.section8 {
    background: #F5F5F5;

    .carousel-wrapper {
        margin-top: 1.656rem;
        position: relative;

        .carousel-items {
            display: flex;
            justify-content: space-between;


            @media (max-width: 85.625rem) {
                overflow-x: clip;
                overflow-y: visible;
            }

            .item {
                position: relative;
                min-height: 19.531rem;
                min-width: 20.188rem;
                border-radius: 0.25rem;
                overflow: hidden;
                margin-left: 1rem;
                box-shadow: 0 0.125rem 0.656rem 0 rgba(0, 0, 0, 0.35);
                -webkit-box-shadow: 0 0.125rem 0.656rem 0 rgba(0, 0, 0, 0.35);

                &:first-child {
                    margin-left: 0;
                }

                .image-wrapper {
                    height: 14.813rem;
                }

                .info-wrapper {
                    display: flex;
                    align-items: center;
                    padding: 0.844rem 1rem;

                    .avatar {
                        height: 2.5rem;
                        width: 2.5rem;
                        border-radius: 1.25rem;
                        overflow: hidden;
                    }

                    .info {
                        margin-left: 0.813rem;

                        .title {
                            @extend .open-sans-bold;
                            font-size: 0.875rem;
                            color: #404145;
                        }

                        .username {
                            font-size: 0.875rem;
                            color: #95979D;
                        }

                    }

                }


            }

        }

    }

}
