@use "fonts";
@use "bootstrap";

.section9 {

    .item-wrapper {

        .item {
            margin-top: 1.688rem;

            @include bootstrap.media-breakpoint-down(xl) {
                flex-basis: 50%;
                width: 100%;
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }

            }


            .image-wrapper {
                border-radius: 0.25rem;
                overflow: hidden;

                img {
                    height: auto;
                    width: 100%;
                }

            }

            .info {
                margin-top: 0.844rem;

                .title {

                    a {
                        @extend .open-sans-bold;
                        font-size: 1.125rem;
                        color: #1B1A1D;
                    }

                }

                .description {
                    margin-top: 0.063rem;
                    font-size: 0.969rem;
                    color: #95979D;
                    line-height: 1.563rem;
                }

            }

        }

    }

    .within-reach {
        position: relative;
        background: #4D1324;
        padding: 6.906rem 6.063rem;
        margin-top: 6.125rem;
        overflow: hidden;

        @include bootstrap.media-breakpoint-down(md) {
            padding: 1rem;
            text-align: center;
        }


        .inner-wrapper {
            position: relative;
            z-index: 2;

            .text {
                @extend .popping-bold;
                font-size: 3rem;
                color: #fff;

                @include bootstrap.media-breakpoint-only(xs) {
                    font-size: 2.25rem;
                }

            }

            .button-wrapper {
                margin-top: 2.063rem;

                .btn {

                    @include bootstrap.media-breakpoint-only(xs) {
                        width: 100%;
                    }

                }

            }

        }

        .image-wrapper {
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: 6.75rem;

            @include bootstrap.media-breakpoint-down(xl) {
                right: -6.3rem;
            }

            @include bootstrap.media-breakpoint-down(lg) {
                display: none;
            }


            img {

            }

        }

    }

}
