.section1 {
    background: #1B1A1D;

    .top {
        margin-top: 1.375rem;
        display: flex;
        flex-direction: row;

        .logo {
            flex: 1 0 auto;

            img {
                width: 6.688rem;
                height: auto;
            }

        }

        .menu {
            width: 100%;
            text-align: right;

            .btn {
                text-decoration-line: none;
                color: #fff;
                padding-left: 0.781rem;
                padding-right: 0.781rem;
                font-size: 1.063rem;
            }

            .icon-label {
                margin-left: 0.656rem;
            }

        }

    }

    .bottom {

    }

}
