@use "bootstrap";

.section1 {
    background: #1B1A1D;

    .top {
        margin-top: 1.375rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            flex: 1 0 auto;

            img {
                width: 6.688rem;
                height: auto;
            }

        }

        .menu {
            width: 100%;
            text-align: right;

            .btn {
                text-decoration-line: none;
                color: #fff;
                padding-left: 0.781rem;
                padding-right: 0.781rem;
                font-size: 1.063rem;
            }

            .icon-label {
                margin-left: 0.656rem;
            }

        }

    }

    .bottom {
        height: 38.625rem;
        display: flex;
        align-items: center;
        position: relative;

        @include bootstrap.media-breakpoint-down(xl) {
            justify-content: center;
        }

        @include bootstrap.media-breakpoint-down(md) {
            height: 28.96875rem;
        }

        .content-wrapper {
            max-width: 40.688rem;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            position: relative;
            z-index: 2;
            width: 100%;

            .tag-line {
                font-size: 2.875rem;
                max-width: 35.938rem;
                line-height: 3.719rem;
                color: #fff;
                width: 100%;

                @include bootstrap.media-breakpoint-down(xl) {
                    margin: 0 auto;
                    text-align: center;
                }

                @include bootstrap.media-breakpoint-down(md) {
                    margin: 0 auto;
                    text-align: center;
                    font-size: 2.15625rem;
                    max-width: 26.875rem;
                }

                @include bootstrap.media-breakpoint-only(xs) {
                    max-width: 18.5rem;
                }

            }

            .search-box {
                margin-top: 1.375rem;

                .input-group {
                    height: 2.969rem;

                    input {
                        border-top-left-radius: 0.4rem;
                        border-bottom-left-radius: 0.4rem;

                        &::placeholder {
                            color: #404145;
                        }

                    }

                    .btn {
                        width: 4.094rem;
                        border-top-right-radius: 0.4rem;
                        border-bottom-right-radius: 0.4rem;
                    }

                }

            }

            .popular {
                color: #fff;
                font-size: 0.938rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1.375rem;

                .btn {
                    height: 1.719rem;
                    padding: 0 .75rem;
                    font-size: 0.938rem;
                    border-radius: 0.8595rem;
                    margin-left: 0.688rem;
                }

            }

            .popular-mobile {
                margin-top: 1rem;

                .dropdown {

                    button {

                        @include bootstrap.media-breakpoint-only(xs) {
                            width: 100%;
                        }

                    }

                }

            }

        }

        .image-wrapper {
            position: absolute;
            right: 3.75rem;
            bottom: 0;
            z-index: 1;

            @include bootstrap.media-breakpoint-down(xl) {
                display: none;
            }

        }

    }

}
