@use 'fonts';

.section3 {

    .carousel-wrapper {
        margin-top: 1.656rem;
        position: relative;

        .carousel-items {
            display: flex;
            justify-content: space-between;

            .item {
                position: relative;
                min-height: 21.625rem;
                min-width: 15.719rem;
                border-radius: 0.6rem;
                overflow: hidden;
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }

                .text {
                    position: relative;
                    z-index: 3;
                    padding: 0.875rem 0.938rem 0 0.938rem;

                    a {
                        text-decoration-line: none;
                        color: #fff;
                    }

                    .statement {
                        font-size: 0.906rem;
                    }

                    .category {
                        @extend .open-sans-bold;
                        font-size: 1.563rem;
                        margin-top: -0.281rem;
                    }

                }

                .overlay-image {
                    position: absolute;
                    top: 0;
                    z-index: 2;
                    width: 100%;
                    height: auto;
                }

                .bg-image {
                    position: absolute;
                    top: 0;
                    z-index: 1;
                    width: 100%;
                    height: auto;
                }

            }

        }

    }

}
